spring:
  application:
    name: basic-ecommerce
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
    show-sql: false
    open-in-view: false
logging:
  level:
    root: INFO
spring-doc:
  paths-to-match: /**
  swagger-ui:
    use-root-path: true
security:
  jwt:
    token:
      secret-key: YWRtaW4xMjM=
      expire-length: 3600000